.image-holder {
  max-width: 1600px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.image-holder .image {
  width: 24.99975%;
  margin-bottom: 1em;
}
.image-holder .image img {
  width: 100%;
  height: auto;
}
