.overlay_flight_traveldil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay_flight_traveldil:target {
    visibility: visible;
    opacity: 1;
}
.popup_flight_travlDil {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
}
.popup_flight_travlDil .close_flight_travelDl {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup_flight_travlDil .content_flightht_travel_dil {
    max-height: 30%;
    overflow: auto;
}

.popHover {
    color: var(--bg-dark);
    text-decoration: none;
}

.popHover:hover {
    color: var(--bg-darkest);
}

.popHover img:hover {
    filter: invert(39%) sepia(98%) saturate(3586%) hue-rotate(355deg)
        brightness(101%) contrast(101%);
}
