:root {
    --bg-darkest: white;
    --bg-dark: white;
    --bg-light: white;
    --bg-very-light: white;
    --text-gold: white;
}

@import url("https://fonts.cdnfonts.com/css/open-sans");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
}

section {
    padding: 2em 0;
}

h2 {
    margin-bottom: 1em;
    color: #ff8800;
}

.footer-col a:hover {
    color: #ffffff;
}

.hero-btn:hover {
    background-color: #ff8800;
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.hero-title {
    font-size: 2.5rem;
    line-height: 4rem;
}

.hero {
    background-color: var(--bg-dark);
    color: black;
}

.hero-title span {
    color: #ff8800;
}

.hero-text {
    margin-top: auto;
    font-size: 1.5rem;
    padding-left: 2%;
}

.hero-btn {
    background-color: var(--text-gold);
    padding: 0.5em 1em;
    border-radius: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: 150ms all ease-in-out;
    font-size: 1em;
    background-color: #ff8800;
}

.vilan {
    background-color: var(--bg-dark);
    color: black;
    padding: 0;
}

.features {
    background-color: var(--bg-very-light);
    text-align: center;
}

.features-col {
    width: 25%;
}

.colBorder {
    border-right: 5px solid rgb(255, 255, 255);
    border-width: thin;
}

.colBorder h5,
h6 {
    margin-right: 1em;
}

.colBordel {
    border-left: 5px solid rgb(255, 255, 255);
    border-width: thin;
}

.primary-content {
    width: 40%;
}

.primary-content img {
    width: 100%;
    margin-top: 2em;
}

.sidebar {
    width: 60%;
    color: black;
}

.sidebar-col {
    background-color: var(--bg-dark);
    text-align: center;
}

.sidebar-col:nth-of-type(3) {
    margin-bottom: 0;
}

.footer {
    background-color: #ff8800;
    text-align: center;
    color: black;
}

.footer-col {
    width: 30%;
}

.footer-col li {
    list-style: none;
    margin: 1em 0;
}

.footer-col a {
    text-decoration: none;
    color: black;
    transition: 150ms all ease-in-out;
}

.zoom:hover img {
    transform: scale(1.2);
}

.footer-links ul {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    column-gap: 1.5em;
}

#maps {
    background-image: url("../img/Skies.png");
    background-size: cover;
    background-attachment: fixed;
}

#maps2 {
    background-image: url("../img/Skies.png");
    background-size: cover;
    background-attachment: fixed;
}

#maps3 {
    background-image: url("../img/Skies.png");
    background-size: cover;
    background-attachment: fixed;
}

#maps4 {
    background-image: url("../img/Skies.png");
    background-size: cover;
    background-attachment: fixed;
}

@media (min-width: 615px) {
    .slide {
        margin-top: 20%;
    }
}

@media (min-width: 760px) {
    .slide {
        margin-top: 10%;
    }
}
@media (max-width: 760px) {
    .logo {
        width: 100%;
        text-align: center;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex > div {
        flex: 50%;
    }

    .colBorder h5,
    h6 {
        margin-right: 0em;
    }

    .hero-title {
        margin-bottom: 1em;
    }

    .features-col {
        margin-bottom: 0;
    }

    .features-col:nth-of-type(3) {
        margin-bottom: 0;
    }

    .primary-content {
        margin-bottom: 2em;
    }

    .footer-col {
        margin-bottom: 1em;
        text-align: center;
    }

    .features-col,
    .primary-content,
    .sidebar,
    .footer-col {
        width: 100%;
    }
    .colBorder {
        border-right: none;
    }

    .colBordel {
        border-left: none;
    }
}

@keyframes navLinksFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
